@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
body{
    margin: 0;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: 0 0 15px;
}
h2{
    font-size: 1.5rem;
}
img{
    display: block;
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.link{
    text-decoration: none;
    color: #333;
}
header{
    position: relative;
    background: #333;
    padding: 10px 0;
}
header ul{
    padding: 0;
    list-style: none;
}
header ul li{
    display: inline-block;
    padding: 0 15px 0 0;
}
header ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}
header ul li a:hover{
    text-decoration: underline;
}
main{
    padding: 50px 0;
}
.itemList{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.item{
    position: relative;
    width: 100%;
    max-width: 270px;
    box-shadow: 0 2px 28px #333;
    box-sizing: border-box;
    transition: .3s;
    margin-bottom: 30px;
}
.item:hover{
    box-shadow: 0 4px 0 #333;
}
.item a{
    text-decoration: none;
    color: #333;
}
.itemInfo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.item h2{
    text-align: right;
    margin: 15px;
    font-size: 1rem;
}
.itemInfo{
    padding: 15px;
}
.itemInfo .date{
    font-size: 0.875rem;
}
.itemInfo .price{
    font-size: 0.875rem;
}
.tour{
    position: relative;
}
.tour h2{
    font-size: 3rem;
    text-align: center;
    margin: 0 0 50px;
}
.tour .tourInformation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.tour .tourBack{
    color: #333;
    text-decoration: underline;
    font-size: 1rem;
}
.tour .tourBack:hover{
    text-decoration: none;
}
.tour .side{
    width: 50%;
}
.tour .side p{
    margin: 0;
    padding-bottom: 10px;
}
.tour .tourRight{
    padding: 50px 0 0 100px;
}
.tour .tourRight span{
    font-weight: 700;
    font-size: 1.2rem;
}
.tour .tourRight .price{
    font-size: 1.6rem;
}
.tour .tourRight .book{
    display: block;
    width: 100%;
    max-width: 190px;
    line-height: 50px;
    background: #333;
    color: #fff;
    transition: .4s;
    cursor: pointer;
    border: 1px solid #333;
}
.tour .tourRight .book:hover{
    background: #fff;
    color: #333;
}
@media (max-width: 767px){
    main {
        padding: 20px 0;
    }
    .tour .side{
        width: 100%;
    }
    .tour .tourRight {
        padding: 20px 0 0 0;
    }
}